<li class="question-container" id="<%= question.id %>">
    <div class="button-holder">
      <div class="vote-button upvote-button"></div>
      <div class="points"><%= question.points %></div>
      <div class="vote-button downvote-button"></div>
    </div>
  <div class="question">
    <a href='/questions/<%= question.id %>'><%= question.title %></a> - asked by
    <a href='<%= "/users/#{question.author.id}" %>'><span class="author-name"><%= question.author.username %></span></a>
    <span class="timestamp"> on <%= format_timestamp(question.created_at) %></span>
  </div>
</li>
