<li id="<%= question.id %>">
  <span class="vote">
    <span class="points"><%= question.points %></span>
    <button class="vote-button upvote-button">Love</button>
    <button class="vote-button downvote-button">Hate</button>
  </span>
  <a href='/questions/<%= question.id %>'><%= question.title %></a> -
  <span class="author-name"><%= question.author.username %></span>
  <span class="timestamp"> - <%= format_timestamp(question.created_at) %></span>
</li>


<!-- <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button> -->
