<li id="<%= question.id %>">
  <span class="vote">
    <div class="button-holder">
      <div class="vote-button upvote-button"></div>
      <div class="points"><%= question.points %></div>
      <div class="vote-button downvote-button"></div>
    </div>
  </span>
  <a href='/questions/<%= question.id %>'><%= question.title %></a> -
  <span class="author-name"><%= question.author.username %></span>
  <span class="timestamp"> - <%= format_timestamp(question.created_at) %></span>
</li>


<!-- <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button> -->
