<h2 class="question-title"><%= @question.title %></h2>
<p class="author-name"><%= @question.author.username %></p>
<p class="question-description"><%= @question.description %></p>
<% if @question.comments %>
  <ol class="comments">
    <% @question.comments.each do |comment| %>
      <li><%= comment.response %><span class="author-name"> - <%= comment.commenter.username %></span></li>
    <% end %>
  </ol>
<% end %>
<!-- comment on question -->

<% if @answers %>
  <ol class="answers">
    <% @answers.each do |answer| %>
      <li><img src="<%= answer.gif %>" /><span class="author-name"> - <%= answer.answerer.username %></span></li>
        <ol class="comments">
          <% if answer.comments %>
            <% answer.comments.each do |comment| %>
              <li><%= comment.response %><span class="author-name"> - <%= comment.commenter.username %></span></li>
            <% end %>
            <!-- comment on answer -->
          <% end %>
        </ol>
    <% end %>
  </ol>
<% end %>
<!-- answer question -->
