<h2 class="question-title"><%= @question.title %></h2>
<p class="author-name"><%= @question.author.username %></p>
<p class="question-description"><%= @question.description %></p>
<% if @question.comments %>
  <ol class="comments">
    <% @question.comments.each do |comment| %>
      <li><%= comment.response %><span class="author-name"> - <%= comment.commenter.username %></span></li>
    <% end %>
  </ol>
<% end %>

<% if @answers %>
  <div class= "answer-box">
    <ol class="answers">
      <% @answers.each do |answer| %>
        <li class= "answer-gif"><img src="<%= answer.gif %>" /><span class="author-name"> - <%= answer.answerer.username %></span></li>
          <ol class="comments">
            <% if answer.comments %>
              <% answer.comments.each do |comment| %>
                <li><%= comment.response %><span class="author-name"> - <%= comment.commenter.username %></span></li>
              <% end %>
            <% end %>
        <% end %>
      </ol>
    </ol>
  </div>
<% end %>


<% if logged_in? %>
<form id="answer-form" action='/questions/<%= @question.id %>/answers' method='post'>
  <textarea name='response' placeholder='Answer goes here'></textarea>
  <input type='submit' value='Submit Answer'>
</form>
<% end %>
