<!-- Post page -->
<section class="question">
  <h2 class="question-title"><%= @question.title %></h2>
  <p>Submitted by <span class="author-name"><a href='<%= "/users/#{@question.author_id}" %>'><%= @question.author.username %></span></a> <%= time_difference(@question.created_at)%></p><br />
  <p class="question-description"><%= @question.description %></p>

  <!-- Comments for main question -->
  <% if @question.comments %>
    <ol class="comments">
      <% @question.comments.each do |comment| %>
        <li><%= comment.response %><span class="author-name"> - <a href='<%= "/users/#{comment.commenter.id}" %>'><%= comment.commenter.username %></a></span></li>
      <% end %>
    </ol>
    <% if logged_in? %>
      <form class= "new-comment" action= <%="/questions/#{@question.id}/comments"%> method="post">
        <input type="textarea" name='comment_text' placeholder="Enter comment here"> </input>
        <input type= "submit" class="button" value= "Submit"></input>
      </form>
    <% end %>
  <% end %>

  <!-- Answers to main question -->
  <div class= "answer-box">
    <ol class="answers">
      <% if @answers %>
        <!-- finding and displaying the best answer, if it exists -->
        <% @answers.each do |answer| %>
          <% if answer.best_answer == true %>
            <p>BEST ANSWER</p>
            <li class= "answer-gif"><img src="<%= answer.gif %>" /><span class="author-name"> - <%= answer.answerer.username %></span>
          <!-- Comments to best answer -->
          <ol id="answer-comment-<%=answer.id%>" class="answer-comments">
            <% if answer.comments %>
              <% answer.comments.each do |comment| %>
                <li><%= comment.response %><span class="author-name"> - <%= comment.commenter.username %></span></li>
              <% end %>
            <% end %>
          </ol>
          <% if logged_in? %>
          <form id="answer-comment-<%=answer.id%>" class= "answer-comment" action= <%="/answers/#{answer.id}/comments"%> method="post">
            <input type="textarea" name='comment_text' placeholder="Enter comment here"> </input>
            <input type= "submit" class="button" value= "Submit"></input>
         </form>
         <% end %>
        <% end %>
        </li>
      <% end %>
        <!-- displaying remaining answers -->
        <% @answers.each do |answer| %>
          <!-- skips displaying the best answer when displaying remaining answers -->
          <% next if answer.best_answer == true %>
          
          <li class= "answer-gif"><img src="<%= answer.gif %>" /><span class="author-name"> - <%= answer.answerer.username %></span>
          <!-- best answer button -->
          <div class="best-answer-div" id=<%= answer.id %>>
          <% if logged_in? && @question.author.id == current_user.id %>
            <button class="best-answer-button" type="button">Select Best Answer</button>
          <% end %>
          </div>
          <!-- Comments to each answer -->
          <ol id="answer-comment-<%=answer.id%>" class="answer-comments">
            <% if answer.comments %>
              <% answer.comments.each do |comment| %>
                <li><%= comment.response %><span class="author-name"> - <a href='<%= "/users/#{comment.commenter.id}" %>'><%= comment.commenter.username %></a></span></li>
              <% end %>
            <% end %>
          </ol>
          <% if logged_in? %>
          <form id="answer-comment-<%=answer.id%>" class= "answer-comment" action= <%="/answers/#{answer.id}/comments"%> method="post">
            <input type="textarea" name='comment_text' placeholder="Enter comment here"> </input>
            <input type= "submit" class="button" value= "Submit"></input>
         </form>
         <% end %>
        <% end %>

          </li>

      <% end %>
    </ol>
  </div>


  <% if logged_in? %>
  <form id="answer-form" action='/questions/<%= @question.id %>/answers' method='post'>
    <textarea name='response' placeholder='GIF url goes here'></textarea>
    <input type='submit' value='Submit GIF'>
  </form>
  <% end %>
</section>
