<h2><%= @user.username %>'s Profile</h2>
<% if is_current_user? %>
<p>Email: <%=@user.email%></p>
<% end %>

<%unless @user.questions.empty? %>
  <h3>User Submitted Questions:</h3>

  <ul> <%@user.questions.each do |question| %>
    <li class= <%="#{question.id}"%>>
      <a href= <%= "/questions/#{question.id}" %>><%= question.title%></a>
      <a class="delete" href=<%= "/question/#{question.id}"%>>delete</a>
      <!-- create display for votes -->
    </li>
    <% end %>
  </ul>
<% end %>

